<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <base href="/" />
    <link type="text/css" rel="stylesheet" href="./styles/myStyle.css" />
    <title>Article</title>
  </head>
  <body>
    <%- include('_header') %>
    <div class="container">
      <h1 class="mt-2 mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <a href="/" class="btn btn-secondary disabled">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info disabled"
        ><i class="fa fa-edit"></i
      ></a>
      <form
        action="/articles/<%= article.id %>?_method=DELETE"
        method="POST"
        class="d-inline disabled"
      >
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </form>
      <div class="card mt-4 p-4"><%- article.sanitizedText %></div>
      <a href="/" class="btn btn-secondary"><i class="fa fa-edit"></i>Edit</a>
      <button type="submit" class="btn btn-primary" name="action" value="save">
        Save
      </button>
    </div>
    <%- include('_footer') %>
  </body>
</html>
